<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <img
      src="http://localhost:3000/api/files/product/{{ product().images | productImage }}"
      [alt]="product().title"
      width="500"
      height="500"
      style="object-fit: cover"
    />
  </figure>
  <div class="card-body">
    <h2
      class="card-title text-accent font-thin text-lg hover:underline cursor-pointer"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p class="font-thin">{{ product().description | slice: 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product', product().slug]" class="btn btn-primary cursor-pointer"
        >Saber más</a
      >
    </div>
  </div>
</div>
